<ion-header>
  <ion-toolbar>
    <ion-title>flatList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/flat-create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <div *ngIf="flats.length <= 0; else flatList">
            <ion-text color="primary">
              <h2>You don't belong to any flats yet, why not create or join one?</h2>
            </ion-text>
            <ion-button>Create a Flat</ion-button>
            <ion-button>Join a Flat</ion-button>
          </div>

          <ng-template #flatList>
            <ion-list>
              <ion-item *ngFor="let flat of flats">
                {{ flat.name }}
              </ion-item>
            </ion-list>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
