<ion-header>
  <ion-toolbar>
    <ion-title>flatList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <div *ngIf="flat == undefined">
            <ion-text color="primary">
              <h2>You don't belong to any flats yet, why not create or join one?</h2>
            </ion-text>
            <ion-button (click)="createFlatCallback()">Create a Flat</ion-button>
            <ion-button (click)="joinFlatCallback()">Join a Flat</ion-button>
          </div>
          <div *ngIf="flat != undefined">
            <ion-text [(ngModel)]="flat" ngDefaultControl>
              <h3>You're currently in {{ flat.name }} </h3>
            </ion-text>
            <ion-button (click)="leaveFlatCallback()">Leave this flat</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
